.magazine {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.magazine_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.categories {
    display: flex;
    align-items: center;
}

.category_type {
    border: 1px solid;
    border-radius: 10000px;
    font-size: 10px;
    padding: 6px 10px;
    margin-left: 10px;
    cursor: pointer;
}

@media screen and (max-width: 1280px) {
    .magazine {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 1024px) {
    .magazine {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 420px) {
    .magazine_top {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 40px;
    }
    .categories {
        margin-top: 20px;
    }
    .category_type {
        margin-left: 0;
        margin-right: 10px;
    }
}