* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: wheat;
}

.App {
    padding-top: 20px;
}

.loader {
    background-color: black;
    width: 100%;
    height: 100%;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
}

.loader svg {
    animation: roate 4s linear infinite forwards;
}

@keyframes roate {
    to {
        rotate: 360deg;
    }
}

.split {
    overflow: hidden;
}